* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  background-color: #A0CCF3
}
.superdiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-style: solid;
  border-color: orange;
  height: 100%;
}
.subdiv {
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-color: black;
}

footer {
  background-color: gray;
}

header {
  display: flex;
  justify-content: center;
}
aside {
  display: flex;
  justify-content: center;
  border-style: solid;
  border-color: white;
  background-color: gray;
}
.grid {
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-color: purple;
  height: 100vh;


}
.subgrid {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-style: solid;
  border-color: black;
  width: 300px;
  height: 300px;
}

img {
  max-height: 200px;
  max-width: 200px;
}
nav {
  display: flex;
  justify-content: space-between;
  border-style: solid;
  border-color: red;

}

@media only screen and (min-width: 601px) {
  .superdiv {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 100vh;
    align-items: stretch;

  }
  aside {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 80px;

  }

  .grid {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  nav {
    flex-direction: column;
    align-items: flex-start;
    height: 150px;
  }
