* {
  margin: 0;
  padding: 0;

}
html {
  min-height: 100% !important;
  height: stretch;
}
body {
  display: flex;
  min-height: 100% !important;
  height: 100%;
  width: 100%;
  flex-direction: column;
  background-color: #A0CCF3
}
.superdiv {
  display: flex;
  flex-direction: column;
  align-items: center;

  min-height: 100%;
  height: stretch;
}
.subdiv {
  display: flex;
  flex-direction: column;

  align-items: center;

}

footer {
  background-color: #F9DBF1;
  height: 50px;
  border-style: solid;
  border-color: white;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: #D0DFEC;
  border-bottom: 1px solid;
  border-color: black;
}
.midDiv {
  display: flex;
  flex-direction: column;
  align-content: center;
}
.accentDiv1 {
  background-color: #4958AB;
  width: 112px;
  height: stretch;
  display: flex;
  justify-content: center;
}
.accentDiv2 {
  background-color: #4958AB;
  width: 112px;
  height: stretch;
}
.random {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  height: 40px;
  border-radius: 15px;
  padding: 5px;
  margin-top: 15px;
}
#github {
  font-size: 1.5em;
  font-family: Verdana, Geneva, sans-serif;
  margin: 10px;
  margin-top: 30px;
}
address {
    margin: 5px;
    text-align: center;
  }

address a {
  margin: 2px;
}

h1 {
  font-size: 4em;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
.desc {
  font-family: Verdana, Geneva, sans-serif;
  background-color: white;
  text-align: center;
  padding: 3px;
  border-radius: 25px;
  border-style: solid;
  border-color: gray;
}
aside {
  display: flex;
  justify-content: center;
  width: 100%;
  border-style: solid;
  border-color: white;
  background-color: #B7B9BB;
  padding: 3px;

}
.grid {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  height: 100%;

}
.subgrid {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 300px;

  padding: 5px;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
img {
  max-height: 250px;
  max-width: 300px;
  margin-bottom: 15px;
}
.project: {
  max-height: 300px;
  max-width: 400px;
  height: 300px;
  width: 400px;
}
nav {
  display: flex;
  justify-content: space-between;
  width: 70vw;
}
.bigP {
  font-size: 2.3em;
  font-family: Courier, monospace;
  padding: 3px;
  text-align: center;

}
.bigPic {
  max-width: 400px;
  max-height: 500px;
  border-radius: 25px;
  border-style: solid;
  border-color: white;
}
@media only screen and (min-width: 550px) {
  .subdiv {
    height: 100vh;
  }
  .superdiv {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    min-height: 100% !important;
    height: stretch;
    align-items: stretch;

  }
  aside {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100px;
    min-height: 100%;
    height: 130vh;

  }

  .grid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 100%;
    height: stretch;
    width: 100%;
  }
  .subgrid {
    margin-left: 40px;
    margin-right: 40px;
  }
  nav {
    flex-direction: column;
    align-items: flex-start;
    height: 150px;
  }
  .disabled {
    color: black;
    text-decoration: none;
  }
@media only screen and (min-width: 900px) {
  aside {
    height: 155vh;
  }
  superdiv {
    height: 100vh;
  }
}
